<%- if current_spree_user.present? %>
  <div class="product-likes">

  <%- if current_spree_user.admin? %>
    <%= pluralize(@product.likes_count, t('likes.like')) %>

  <%- else %>
    <%- if @product.liked_by?(current_spree_user) %>
      <%= button_to t('likes.unlike'), unlike_product_path(id: @product.id), class: 'medium default', id: 'like-button', type: :submit, method: :delete %>

    <%- else %>
      <%= button_to t('likes.like'), like_product_path(id: @product.id), class: 'medium secondary', id: 'like-button', type: :submit %>
    <%- end %>
  <%- end %>

  </div>
<%- end %>
