/*
 *= require store/spree_frontend
*/
.product-likes {
  .button {
    border: none;
    width: 50px;
    height: 50px;

    &.dislike {
      color: white;
      background: white image-url('like.png');
      background-size: 100% auto;
    }

    &.like {
      color: black;
      background: white image-url('like_outline.png');
      background-size: 100% auto;
    }
  }
}
